<%= form_with(model: post, local: true, class: "new-post") do |form| %>
  <h1>New Post</h1>

  <div class="field">
    <%= form.file_field :photo %>
  </div>

  <div class="field">
    <%= form.text_field :description, placeholder: 'Description' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
