<div id="user_actions" class="modal">
  <div class="user-action">
    <%= link_to "Edit my profile", edit_profile_path %>
  </div>

  <div class="user-action">
    <%= link_to "Logout", destroy_user_session_path, method: :delete, 
      data: { confirm: "Are you sure?" }
    %>
  </div>
</div>